// List

.list {
  padding: 0 9rem;
  font-size: 2.5rem;
  display: flex;
  flex-flow: column wrap;
}

.list-item {
  border: 3px solid #dedcee;
  flex: 0 0 13rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 900;
  margin: 1rem 0;
  box-shadow: 0.6rem 0.6rem #dedcee;

  &:hover {
    border: 3px solid #D2BCD7;
    box-shadow: 0.6rem 0.6rem #D2BCD7;
  }
}

.list-item > div {
  flex: 0 0 11rem;
}

.list-item div:first-child {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

.list-item div:last-child {
  margin-left: auto;
  margin-right: 1.5rem;
  text-align: right;
  color: #3ac569;
}

.img-fluid {
  border-radius: 0.675rem;
  width: 100%;
  height: auto;
}

.list-item .user-name {
  font-size: 1.9rem;
  margin-left: 4rem;
  text-decoration: underline;
  flex: 0 0 20rem;
}

div.location {
  font-size: 1.5rem;
  margin-left: 4rem;
  flex: 1 1 auto;
  color: #34314c;
}

// Container

.container {
  position: relative;
  top: -3rem;
}

// Filters

.filters {
  font-size: 1.6rem;
  padding: 2rem 7.9rem 2rem 8.5rem;
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 1);
  z-index: 200;
}

.filters > div {
  margin: 0.5rem;
  border-radius: 0.2rem;
  border: 2px solid black;
  flex: 1 1 15rem;
}

.filters button {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  font-size: inherit;
  outline: none;

  &:active {
    color: black;
  }
}

.filters .active {
  background-color: #dedcee;
}

.more {
  margin: 3rem 0;
  text-align: center;

  & button {
    width: 15rem;
    height: 4rem;
    border: 4px solid rgba(58, 197, 105, .9);
    outline: none;
    font-size: 1.4rem;
    font-weight: 900;
    text-transform: uppercase;
    color: rgba(58, 197, 105, 1);
    background-color: transparent;

    &:hover {
      background-color: rgba(58, 197, 105, .9);
      color: rgba(255, 255, 255, 1);
    }
  }
}

// Media Queries

@media screen and (max-width: 820px) {
  .filters > div {
    flex: 1 1 21rem;
  }
}

@media screen and (max-width: 1150px) {
  .list, .list-item .user-name {
    font-size: 1.3rem;
  }

  .list {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .list-item {
    flex-flow: column wrap;
    margin: 1rem 0.5%;
    box-shadow: 0.4rem 0.4rem #dedcee;

    &:hover {
      box-shadow: 0.4rem 0.4rem #D2BCD7;
      background-color: transparent;
    }
    &:hover div:first-child:before {
      display: inline-block;
    }
  }

  .list-item > div {
    flex: none;
  }

  .list-item div:first-child:before {
    content: '';
    color: gold;
    text-align: center;
    line-height: 13rem;
    font-size: 4rem;
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .4);
    z-index: 100;
  }

  .list-item div:first-child {
    margin: 0 0 1rem 0;
    position: relative;
  }

  .list-item div:last-child {
    margin: 1.5rem 0 2rem 0;
    text-align: center;
  }

  .img-fluid {
    border-radius: 0;
  }

  .list-item .user-name {
    margin: 0;
    flex: 0;
  }

  div.location {
    display: none;
  }
}