.lightbox-container {
  display: none;
  max-width: 1280px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .9);
  color: rgba(255, 255, 255, 1);
  padding: 3rem;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 300;
  transform: translate(-50%, -50%);
  overflow: scroll;
}

.box-frame {
  display: flex;
  height: 100%;
  font-size: 1.6rem;
}

.box-frame > div {
  width: 50%;
  flex: 1 1 auto;
  margin: 0 2%;
}

.lightbox h2, .lightbox h3 {
  font-size: 2.2rem;
  margin: 1rem;
  color: gold;
}

.box-details-item {
  padding: 1rem;
}

.box-details-number {
  font-size: 1.8rem;
  color: #3ac569;
  float: right;
}

.box-list-item {
  list-style: none;
  padding: 1rem;
  cursor: pointer;
}

.close {
  text-align: right;
  font-weight: 900;
  font-size: 2rem;
  cursor: pointer;
}

.counter {
  color: #007AFF;
  display: inline-block;
  width: 3rem;
}

.repo-name:hover {
  text-decoration: underline;
}

@media screen and (max-width: 625px) {
  .box-frame {
    flex-flow: column wrap;
  }
  .box-frame > div {
    width: 100%;
  }
}