html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  max-width: 1280px;
  min-width: 320px;
  font-family: 'Nunito', sans-serif;
}

header {
  height: 30rem;;
  background: #ff00cc;
  background: -webkit-linear-gradient(to left, #ff00cc, #333399);
  background: linear-gradient(to left, #ff00cc, #333399);
}

h1 {
  text-align: center;
  font-size: 5rem;
  line-height: 30rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, .9);
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
}

#root {
  position: relative;
  z-index: 100;
}

.loading {
  font-size: 4rem;
  margin: 5rem;
  text-align: center;
}